<!DOCTYPE html>
<html lang="en">
  <title>Results-Karen Ostdiek</title>
  	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/w3_template.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body {font-family: "Times New Roman", Georgia, Serif;}
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
  }
  </style>

  <body>

    <h3>The selected title is: {{title}}</h3>
    <!--<h3>The result is : {{output}}</h3>-->






  </body>
</html>
