<!DOCTYPE html>
<html lang="en">
  <title>Home-Trigger App</title>
  	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/w3_template.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  body {font-family: "Times New Roman", Georgia, Serif;}
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
  }
  </style>

  <body>
    <!--
    <h2>Single Movie: </h2>

    <form action="/movie" method="post">
      <input type="text" name="title"></input>
      <input type="text" name="word"></input>
      <input type="submit" value="Submit"></input>
    </form>
  -->

  <h1>Project: Triggers in Movies</h1>
  <p>For some, certain images, events, or words, can invoke powerful emotions -
    and maybe ones we'd rather not experience. Or at least not be blindsided
    by while watching a movie. This simple website/app/algorthim is meant to
    help with that. Below, you'll find a place where
		you can search for a movie title and give the website a "trigger" word.
		On the backend, the app will perform a simple search of the movie's synopsis
		using IMDb's information for that word. I hope that this helps you in some way.</p>

    <h2>Search for a Movie: </h2>
    <p>Please use the text box to search for a movie title. Then click "Submit."</p>
    <form action="/multi_movie" method="post">
      <input type="text" name="title2"></input>
      <input type="submit" value="Submit"></input>
    </form>

    <h2>Example: </h2>
    <p>An Example:</p>

    <h4>Step 1</h4>
    <p>Enter a movie title into the text box and click "Submit".</p>
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="images/search_for_movie.png" class="w3-round w3-image w3-opacity-min" alt="step one to search for a movie title" width="600" height="750">
    </div>

  </body>
</html>
